# {{ project_name }}

## Description

{{ project_description }}

## Requirements

{{ project_name }} requires Python 3.7 or above.

## Installation

With `pip`:
```bash
pip install {{ python_package_distribution_name }}
```
