# Contributing to {{ project_name }}

## Local development

### Virtual environment issues

- Recommended usage is to disable any active virtual environment (including Conda envs).

### Testing with Nox

Our testing process uses [Nox](https://nox.thea.codes) to test {{ project_name }}
against multiple Python versions.

- Set `pdm config use_venv true`.

### IDE configuration

Follow [instructions from the PDM documentation](https://pdm.fming.dev/#use-with-ide).
